name: Publish Package

on:
  push:
    tags:
      - 'v*'

  workflow_dispatch:

permissions:
  contents: read
  id-token: write
  pages: write

concurrency:
  group: 'pages'
  cancel-in-progress: true

jobs:
  build-docs:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: '24'
          cache: 'yarn'

      - run: yarn install --frozen-lockfile

      - run: npm run build:docs

      - name: Add CNAME
        run: echo "tgify.iatnaod.space" > docs/build/CNAME

      - name: Make GitHub links absolute
        shell: bash
        run: |
          shopt -s globstar
          sed \
            --in-place \
            --expression='s:/develop/docs/:/${{ github.sha }}/docs/:g' \
            --expression='s:<img src="docs/assets/:<img src="media/:g' \
            docs/build/**/*.html

      - name: Upload Pages artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./docs/build

  deploy-pages:
    runs-on: ubuntu-latest
    needs: build-docs
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4

  publish-npm:
    runs-on: ubuntu-latest
    needs: build-docs

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: '24'
          registry-url: 'https://registry.npmjs.org'
          cache: 'yarn'

      - run: yarn install --frozen-lockfile

      - run: npm publish
